<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349510073100-093q2i6d9mq9ja836dgns9avnhsfilop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349510073100-093q2i6d9mq9ja836dgns9avnhsfilop</string>
	<key>API_KEY</key>
	<string>AIzaSyBMOvOVYjlv9mbkbN29WCG12ccw-jjJLeo</string>
	<key>GCM_SENDER_ID</key>
	<string>349510073100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-54490</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-54490.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349510073100:ios:316bb76dff04c796a92729</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-54490.firebaseio.com</string>
</dict>
</plist>